.c_btn2{
    width: 800px;
}

.c_p2{
width: 800px;
color: white;
background-color: rgb(30, 138, 102);
display: none;
}
.c_btn3{
    width: 800px;
}

.c_p3{
width: 800px;
color: white;
background-color: rgb(30, 138, 102);
}